<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhà hàng</title>

</head>

<body>

    <div class="main">
        <div class="main__title--2">
            <!-- chứa title và background -->
            <img src="assets/Media/Restaurant/hinh1-rest.webp" alt="Error">
            <div class="title__container title__container--type2">
                <p class="title__item--2">Vila de Vie</p>
                <p class="title__item--3">Mang cả thiên đường đến bên bạn</p>
            </div>
        </div>
        <div class="content__container">
            <div class="content__title--type1">
                <h1>NHÀ HÀNG -THIÊN ĐƯỜNG ẨM THỰC </h1>
                <p>Được đánh giá là một trong những khách sạn sở hữu những nhà hàng độc đáo nhất Đông Nam Á, phục vụ cả
                    ngày, mở ra không gian ẩm thực tinh tế, ngắm cảnh đẹp khu trung tâm thành phố từ trên cao. Thực đơn
                    với biến tấu độc đáo giữa ẩm thực Âu và Á kếp hợp tạo nên sức hấp dẫn riêngassets
                </p>
            </div>
        </div>
        <!-- chứa navigation -->
        <div class="main__navigation">
            <ul>
                <li>
                    <a routerLink="/service">TỔNG QUAN</a>
                </li>
                <li>|</li>
                <li>
                    <a routerLink="/sport">THỂ THAO</a>
                </li>
                <li>|</li>
                <li>
                    <a routerLink="/pool">HỔ BƠI</a>
                </li>
                <li>|</li>
                <li>
                    <a routerLink="/spa">SPA</a>
                </li>
                <li>|</li>
                <li>
                    <a routerLink="/restaurant">NHÀ HÀNG</a>
                </li>
            </ul>
        </div>
        <div class="content__container content__container--type1">
            <div class="content__left--2">
                <img src="assets/Media/Restaurant/hinh2-rest.webp" alt="Error">
            </div>
            <div class="content__right--2 content__title--type1">
                <h1>PHONG CÁCH ẨM THỰC PHÁP CAFÉ CARDINAL</h1>
                <p>Với không gian thoáng, tầm nhìn ra hồ bơi của khách sạn, Nhà hàng hoạt động cả ngày, phục vụ các thự
                    đơn phong phú được chế biến bởi các đầu bếp tài hoa ngay tại gian bếp mở.
                    <br> Phục vụ 24/7 và có ban nhạc vào thứ 7 hàng tuần
            </div>
        </div>
        <div class="content__container content__container--type2">
            <div class="content__left--1 content__title--type1">
                <h1>ẨM THỰC THƯỜNG NHẬT
                    THE LONG TIME SQUARE
                </h1>
                <p>The Long @Times Square, nổi tiếng với quầy bar dài 48 mét và các loại Pizza truyền thống, có phong
                    cách đích thực của các cà phê vỉa hè duyên dáng tại Ý, là nơi lý tưởng cho các bữa ăn thân mật hay
                    gặp gỡ bạn bè cùng thưởng thực kem và các các thức uống hấp dẫn.

                    <br> Phục vụ 24/7 và có ban nhạc vào thứ 7 hàng tuần
                </p>
            </div>
            <div class="content__right--1">
                <img src="assets/Media/Restaurant/hinh3-rest.webp" alt="Error">
            </div>
        </div>
        <div class="content__container content__container--type4">
            <div class="content__image">
                <img src="assets/Media/Restaurant/hinh4-rest.webp" alt="Error">
            </div>
            <div class="content__title--type1">
                <h1>PHONG CÁCH TRUYỀN THỐNG Ý
                    NHÀ HÀNG R&T</h1>
                <p>R&J là ngôi nhà của ẩm thực Ý phong cách gia đình được nâng tâm với những biến tấu tinh tế của những
                    đầu bếp Ý tài hoa mang đến trải nghiệm độc đáo trong không sang trọng, ấm cúng.
                    Dịch vụ đẳng cấp quốc tế, cùng đội ngũ pha chế xuất sắc sáng tạo.

                    <br> Phục vụ từ 7AM đến 12PM hàng ngày
                </p>
            </div>
        </div>
    </div>

</body>

</html>