<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phòng Bình Thường</title>
</head>

<body>
    <div class="main">
        <div class="main__title--2">
            <!-- chứa title và background -->
            <img src="assets/Media/Rooms/headerbg1.webp" alt="Error">
            <div class="title__container title__container--type2">
                <p class="title__item--2">Vila de Vie</p>
                <p class="title__item--4">Phòng Bình Thường</p>
            </div>
        </div>
        <!-- group 1 giới thiệu phòng ks -->
        <div class="content__container content__container--1">
            <div class="content__title--type1">
                <h1>PHÒNG KHÁCH SẠN</h1>
                <p>Vila de Vie có 157 phòng nghỉ và suite trang nhã, tất cả đều có tầm nhìn tuyệt đẹp ra phia hồ hoặc
                    trung tâm ngôi làng quyến rũ. Cách bài trí và thiết kế phòng độc đáo đặc trưng cho khách sạn lịch sử
                    của chúng tôi.</p>
            </div>
        </div>
         <!--group navigation-->
         <div class="main__navigation">
            <ul>
                <li> <a routerLink="/phongbinhthuong">PHÒNG BÌNH THƯỜNG</a> </li>
                <li>|</li>
                <li><a routerLink="/phongcaocap">PHÒNG CAO CẤP</a></li>
            </ul>
        </div>
        <!-- group Phòng đơn superior -->
        <div class="content__container content__container--type1">
            <div class="content__left--1 content__title--type1">
                <h1>PHÒNG ĐƠN SUPERIOR</h1>
                <p>Hoàn hảo cho khách du lịch một mình, phòng ấm cúng này có giường đơn hoặc giường cỡ queen. Tầm nhìn trải dài toàn bộ khung cảnh Nha Trang.</p>
                <button class="button--type1" onclick="window.open('rooms/101','_blank');">KHÁM PHÁ</button>
            </div>
            <div class="content__right--1">
                <img src="assets/Media/Rooms/hinh1.webp" alt="Error">
            </div>
        </div>
        <!-- group PHÒNG ĐÔI DELUXE -->
        <div class="content__container content__container--type2">
            <div class="content__left--2">
                <img src="assets/Media/Rooms/hinh2.webp" alt="Error">
            </div>
            <div class="content__right--2 content__title--type1">
                <h1>PHÒNG ĐÔI DELUXE</h1>
                <p>Các Phòng Deluxe của chúng tôi được thiết kế theo phong cách riêng và được trang trí với tông màu trầm, dịu. Hoàn hảo cho hai, với giường cỡ King hoặc 2 giường đơn và tùy chọn thêm giường phụ.
                </p>
                <button class="button--type1" onclick="window.open('rooms/102','_blank');">KHÁM PHÁ</button>
            </div>
        </div>
    </div>
</body>

</html>