<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuyển dụng</title>
</head>

<body>
    <div class="main">
        <div class="main__title--2">
            <!-- chứa title và background -->
            <img src="assets/Media/whiteheaderbg.webp" alt="Error">
            <div class="title__container title__container--type2">
                <!-- chứa title -->
                <p class="title__item--2">Vila de Vie</p>
                <p class="title__item--4">Tuyển dụng</p> <br>
            </div>
        </div>
        <hr>
        <!-- group 3 : nhân viên bếp -->
        <div class="content__container">
            <div class="content__title--type1">
                <p class="title__item--3">Không có gì là quá lớn đối với chúng tôi: dịch vụ tuyệt vời biên giới với điều
                    kỳ diệu và mọi mong muốn của khách đều là mệnh lệnh của chúng tôi.</p>
            </div>
        </div>
        <div class="content__container content__container--type2">
            <div class="content__left--2">
                <img src="assets/Media/Career/hinh2.webp" alt="Error">
            </div>
            <div class="content__title--type1 content__right--2">
                <h1>NHÂN VIÊN BẾP</h1>
                <p>Là những người phụ trách nấu nướng, rửa chén, chuẩn bị đồ, làm theo yêu cầu, lên thực
                    đơn, tùy thuộc vào yêu cầu công việc. Trong bếp sẽ có một số vị trí khác nhau: Phụ
                    bếp, rửa chén, bếp chính. Với tư cách là một nhân viên bếp, bạn có thể chuẩn bị thực
                    phẩm cho đầu bếp cao cấp hoặc bếp trưởng để nấu ăn cho khách.
                </p>
                <button class="button--type1"
                    onclick="javascript:window.open('assets/Media/Career/Nhân viên bếp.pdf', '_blank');">CHI
                    TIẾT</button>
            </div>
        </div>
        <!-- GROUP 2 : nhân viên dọn phòng -->
        <div class="content__container content__container--type1">
            <div class="content__title--type1 content__left--1">
                <h1>NHÂN VIÊN DỌN PHÒNG</h1>
                <p>Nếu khách sạn được trang bị nhà bếp, khách sạn thường cung cấp dịch vụ phòng. Khách muốn ăn
                    nhưng không muốn rời khỏi khách sạn hoặc đến nhà hàng của khách sạn (nếu có) thì có thể đặt
                    ăn từ thực đơn trong phòng. Là nhân viên dịch vụ phòng, bạn có thể nhận các đơn đặt dịch vụ
                    phòng (order), và sau đó mang lên phòng cho khách.</p>
                <button class="button--type1"
                    onclick="javascript:window.open('assets/Media/Career/Nhân viên dọn phòng.pdf', '_blank');">CHI
                    TIẾT</button>
            </div>
            <div class="content__right--1">
                <img src="assets/Media/Career/hinh3.webp" alt="Error">
            </div>
        </div>
        <!-- group 3:  nhân viên lễ tân -->
        <div class="content__container content__container--type2">
            <div class="content__left--2">
                <img src="assets/Media/Career/hinh4.webp" alt="Error">
            </div>
            <div class="content__title--type1 content__right--2">
                <h1>NHÂN VIÊN LỄ TÂN</h1>
                <p>Việc làm thủ tục nhận phòng cho khách thường bao gồm các công đoạn: nhận thông tin thẻ tín
                    dụng, đưa thẻ đăng ký thông tin (registration card) cho khách vào phòng và trả lời bất kỳ
                    câu hỏi nào của khách. Nhân viên lễ tân cũng thường xuyên nhận điện thoại và đặt phòng. Ở
                    một số khách sạn nhỏ công việc này không đòi hỏi kinh nghiệm, nhưng ở các khách sạn lớn,
                    bạn cần phải có bằng cấp (cao đẳng, đại học) hoặc kinh nghiệm mới có thể ứng tuyển vào
                    vị trí công việc này.
                </p>
                <button class="button--type1"
                    onclick="javascript:window.open('assets/Media/Career/Nhân viên lễ tân.pdf', '_blank');">CHI
                    TIẾT</button>
            </div>
        </div>
        <!-- form -->
        <div class="content__container--form">
            <form #applicationForm="ngForm" (ngSubmit)="submitData(applicationForm)" class="container_form">
                <p class="form__label">ĐĂNG KÝ TUYỂN DỤNG</p>
                <input type="hidden" [(ngModel)]="application_form['_id']" name="_id">
                <div class="form__row">
                    <div class="form__item ">
                        <label class="form__label" for="lastname">Họ*:</label>
                        <input class="form__input" type="text" name="lastname" id="lastname"
                            [(ngModel)]="application_form['lastname']" required #lastname="ngModel"
                            [class.is-invalid]="lastname.invalid && lastname.touched">
                        <small class="text-validation" [class.d-none]="lastname.valid || lastname.untouched">Bạn chưa
                            nhập họ</small>
                    </div>
                    <div class="form__item">
                        <label class="form__label" for="firstname">Tên*:</label>
                        <input class="form__input" type="text" name="firstname" id="firstname"
                            [(ngModel)]="application_form['firstname']" required #firstname="ngModel"
                            [class.is-invalid]="firstname.invalid && firstname.touched">
                        <small class="text-validation" [class.d-none]="firstname.valid || firstname.untouched">Bạn chưa
                            nhập tên</small>
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__item">
                        <label class="form__label" for="email">Email*:</label>
                        <input class="form__input" type="email" [email]="true" name="email" id="email"
                            [(ngModel)]="application_form['email']" required #email="ngModel"
                            [class.is-invalid]="email.invalid && email.touched">
                        <div *ngIf="email.errors && email.invalid && email.touched">
                            <small class="text-validation" *ngIf="email.errors['required']">Bạn chưa nhập email</small>
                            <small class="text-validation" *ngIf="email.errors['email']">Bạn nhập email không hợp
                                lệ</small>
                        </div>
                    </div>
                    <div class="form__item">
                        <label class="form__label" for="Phone">Số điện thoại*:</label>
                        <input class="form__input" type="number" name="phone" id="phone"
                            [(ngModel)]="application_form['phone']" required #phone="ngModel"
                            [class.is-invalid]="phone.invalid && phone.touched" [pattern]="phonePattern">
                        <div *ngIf="phone.errors && phone.invalid && phone.touched">
                            <small class="text-validation" *ngIf="phone.errors['required']">Bạn chưa nhập số điện
                                thoại.</small>
                            <small class="text-validation" *ngIf="phone.errors['pattern']">Số điện thoại không hợp
                                lệ.</small>
                        </div>
                    </div>
                </div>
                <div class="form__item">
                    <label class="form__label" for="position">Vị trí*:</label>
                    <select class="form__input" name="position" id="position" [(ngModel)]="application_form['position']"
                        required #position="ngModel" [class.is-invalid]="positionFlag && position.touched"
                        (blur)="validatePosition(position.value)" (change)="validatePosition(position.value)">
                        <option value="none">---</option>
                        <option value="letan">Nhân viên lễ tân</option>
                        <option value="bep">Nhân viên bếp</option>
                        <option value="donphong">Nhân viên dọn phòng</option>
                    </select>
                    <small class="text-validation" [class.d-none]="!positionFlag || position.untouched">Vui lòng chọn vị
                        trí mà bạn muốn.</small>
                    <div *ngIf="position.errors && position.invalid && position.touched">
                        <small class="text-validation" *ngIf="position.errors['required']">Vui lòng chọn vị trí mà bạn
                            muốn.</small>
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__item">
                        <label class="form__label" for="CV">Resume/CV*:</label>
                        <input class="form__button" type="file" name="CV" id="CV" [(ngModel)]="application_form['CV']"
                            required #CV="ngModel">
                        <small class="text-validation" [class.d-none]="CV.valid || CV.untouched">Bạn chưa nộp
                            CV.</small>
                    </div>
                    <div class="form__item">
                        <label class="form__label" for="Letter">Cover Letter*:</label>
                        <input class="form__button" type="file" name="CL" id="CL" [(ngModel)]="application_form['CL']"
                            required #CL="ngModel">
                        <small class="text-validation" [class.d-none]="CL.valid || CL.untouched">Bạn chưa nộp Cover
                            Letter.</small>
                    </div>
                </div>
                <div class="form__item">
                    <label class="form__label" for="linkedIn">LinkedIn Profile:</label>
                    <input class=" form__input--Link form__input" type="text" name="linkedIn" id="linkedIn"
                        [(ngModel)]="application_form['linkedIn']" placeholder="---">
                </div>
                <div class="form__item">
                    <label class="form__label" for="method">Làm thế nào bạn biết đến công việc này*:</label>
                    <select class="form__input" name="method" id="method" [(ngModel)]="application_form['method']"
                        required #method="ngModel" [class.is-invalid]="methodFlag && method.touched"
                        (blur)="validateMethod(method.value)" (change)="validateMethod(method.value)">
                        <option value="none">---</option>
                        <option value="direct">Trực tiếp qua website Vila de Vie</option>
                        <option value="socialmedia">Thông qua mạng xã hội</option>
                    </select>
                    <small class="text-validation" [class.d-none]="!methodFlag || method.untouched">Vui lòng chọn cách
                        thức bạn biết đến công việc này.</small>
                    <div *ngIf="method.errors && method.invalid && method.touched">
                        <small class="text-validation" *ngIf="method.errors['required']">Vui lòng chọn cách
                            thức bạn biết đến công việc này.</small>
                    </div>
                </div>
                <div class="form__item">
                    <label class="form__label " for="data">Bạn có đồng ý để Vila de Vie sử dụng dữ liệu cá nhân từ đơn
                        đăng ký của bạn để cải thiện trải nghiệm tuyển dụng của chúng tôi không? Chúng tôi có thể cộng
                        tác và chia sẻ dữ liệu của bạn với các nhà cung cấp bên thứ ba cho mục đích tuyển dụng và bạn có
                        thể yêu cầu xóa dữ liệu của mình bất kỳ lúc nào.*</label>
                    <select class="form__input" name="data" id="data" [(ngModel)]="application_form['data']" required
                        #data="ngModel" [class.is-invalid]="dataFlag && data.touched" (blur)="validateData(data.value)"
                        (change)="validateData(data.value)">
                        <option value="none">---</option>
                        <option value="Yes">Có</option>
                        <option value="No">Không</option>
                    </select>
                    <small class="text-validation" [class.d-none]="!dataFlag || data.untouched">Vui lòng cho chúng tôi
                        biết cách bạn muốn sử dụng dữ liệu của mình.</small>
                    <div *ngIf="data.errors && data.invalid && data.touched">
                        <small class="text-validation" *ngIf="data.errors['required']">Vui lòng cho chúng tôi
                            biết cách bạn muốn sử dụng dữ liệu của mình.</small>
                    </div>
                </div>
                <div class="form__item--checkbox">
                    <input type="checkbox" name="agree" required #agree="ngModel" ngModel
                        [class.is-invalid]="agree.value==false && agree.touched">
                    <label class="form__label" for="agree">Tôi đồng ý với các chính sách bảo mật
                        của Vila de Vie</label>
                </div>
                <div class="form__button ">
                    <input class="button--type1" type="submit" value="GỬI ĐƠN ĐĂNG KÍ"
                        [disabled]="applicationForm.form.invalid || data.value =='none' || method.value =='none' || position.value =='none' || agree.value==false">
                </div>
                <div id="result"></div>
            </form>
        </div>

    </div>
</body>

</html>