<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khoảnh khắc</title>
   
</head>

<body>
   
    <div class="main">
        <div class="main__title--2">
            <!-- chứa title và background -->
            <img src="assets/Media/whiteheaderbg.webp" alt="Error">
            <div class="title__container title__container--type2">
                <p class="title__item--2">Vila de Vie</p>
                <p class="title__item--4">Khoảnh khắc</p>
                <p class="title__item--3">
                    Những kỉ niệm ngọt ngào bên nhau và bên Vila de Vie hãy cùng nhau trọn vẹn khoảnh khắc này cùng
                    chúng
                    tôi.
                </p>
            </div>
        </div>
        <hr>
        <div class="content__container">
            <div class="row-img"> 
                <div class="col-img">
                  <img src="assets/Media/Homepage/hinh3.webp" alt="Error">
                  <img src="assets/Media/Career/hinh1.webp"alt="Error">
                  <img src="assets/Media/Homepage/hinh5.webp" alt="Error">
                  <img src="assets/Media/Homepage/hinh7.webp" alt="Error">
                  <img src="assets/Media/Service/hinh3.webp" alt="Error">
                </div>
                <div class="col-img">  
                  <img src="assets/Media/Rooms/hinh7.webp" alt="Error">
                  <img src="assets/Media/Rooms/hinh9.webp" alt="Error">
                  <img src="assets/Media/Rooms/hinh11.webp" alt="Error">
                  <img src="assets/Media/Meeting&celebration/hinh3.webp" alt="Error">
                  <img src="assets/Media/Homepage/hinh8.webp" alt="Error">
                </div>  
                <div class="col-img">
                  <img src="assets/Media/Homepage/hinh4.webp"alt="Error">
                  <img src="assets/Media/Meeting&celebration/hinh6.webp" alt="Error">
                  <img src="assets/Media/Rooms/hinh10.webp" alt="Error">
                  <img src="assets/Media/Meeting&celebration/hinh5.webp" alt="Error">
                  <img src="assets/Media/Meeting&celebration/hinh1.webp" alt="Error">
                </div>
                <div class="col-img">
                  <img src="assets/Media/Restaurant/hinh2-rest.webp" alt="Error">
                  <img src="assets/Media/Sport/hinh4-sport.webp" alt="Error">
                  <img src="assets/Media/Meeting&celebration/hinh7.webp" alt="Error">
                  <img src="assets/Media/Homepage/hinh9.webp" alt="Error"> 
                  <img src="assets/Media/Career/hinh2.webp" alt="Error"> 
                </div>
            </div>

        </div>
    </div>

</body>

</html>
