<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xem thông tin phòng</title>

</head>

<body>

    <div class="main">
        <div class="main__title--2">
            <!-- chứa title và background -->
            <img src="assets/Media/whiteheaderbg.webp" alt="Error">
            <div class="title__container title__container--type2">
                <p class="title__item--2">Vila de Vie</p>
                <p class="title__item--4">Xem thông tin đặt phòng</p>
            </div>
        </div>
        <form #findBookingInfoForm="ngForm" (ngSubmit)="submitData(findBookingInfo)" class="form__viewinfo">
            <div>
                <label class="form__label" for="code">Mã đặt phòng</label>
            </div>
            <div>
                <input class="form__input" [(ngModel)]="findBookingInfo['code']" #code="ngModel" type="number"
                    name="code" id="code" required>
            </div>
            <div *ngIf="code.errors && code.invalid && code.touched">
                <small class="text-validation">Bạn chưa nhập mã code
                    khách.</small>
            </div>
            <div class="form__button" id="btn">
                <input class="button--type1" type="submit" value="GỬI YÊU CẦU"
                    [disabled]="findBookingInfoForm.form.invalid">
            </div>
            <div id="result"></div>
        </form>
    </div>


</body>

</html>