<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chính sách</title>
</head>

<body>
    <div class="main">
        <div class="main__title--2">
            <!-- chứa title và background -->
            <img src="assets/Media/whiteheaderbg.webp" alt="Error">
            <div class="title__container title__container--type2">
                <p class="title__item--2">Vila de Vie</p>
                <p class="title__item--4">Chính sách</p>
            </div>
        </div>
        <hr>
        <div class="main__content">
            <div class="main__content--description">
                Chính sách, điều khoản và quy định của khách sạn Vila de Vie
            </div>
            <div class="content__container">
                <div class="content__container--information">
                    <p class="title__styles">Thắc mắc và liên hệ giải quyết khiếu nại</p>
                    <div class="infor">
                        <p>Khách sạn Vila de Vie</p>
                        <p>Số 50 Đường Trần Phú,
                            Nha Trang, Khánh Hòa</p>
                        <p>Hotline: +84 34 5898 989</p>
                        <p>Fax: +84 34 5898 989</p>
                        <p>Email: CSKH@viladevie.com</p>
                    </div>
                </div>
                <div class="content__container--files">
                    <div>
                        <p class="title__styles">Điều khoản</p>
                            <ul>
                                <li>
                                    <a class="file__item" routerLink="assets/Media/Chinhsach/7.pdf" target="_blank">Điều khoản chung</a>
                                </li>
                                <li>
                                    <a class="file__item" routerLink="assets/Media/Chinhsach/7.pdf" target="_blank">Điều khoản chi tiết</a>
                                </li>
                            </ul>
                    </div>
                    <div>
                        <p class="title__styles">Quy định</p>
                            <ul>
                                <li>
                                    <a routerLink="assets/Media/Chinhsach/8.pdf" class="file__item" target="_blank">Quy định
                                        chung</a>
                        </li>
                        <li>
                            <a routerLink="assets/Media/Chinhsach/9.pdf" class="file__item" target="_blank">Quy định về thanh
                                toán</a>
                        </li>
                        <li>
                            <a routerLink="assets/Media/Chinhsach/10.pdf" class="file__item" target="_blank">Quy định về xác nhận
                                thông tin đặt phòng</a>
                        </li>
                        </ul>
                    </div>
                    <div>
                        <p class="title__styles">Chính sách</p>
                            <ul>
                                <li>
                                    <a routerLink="assets/Media/Chinhsach/11.pdf" class="file__item" target="_blank">Chính sách về giải quyết tranh chấp</a>
                                </li>
                                <li>
                                    <a routerLink="assets/Media/Chinhsach/12.pdf" class="file__item" target="_blank">Chính sách về quyền riêng tư và bảo mật thông tin khách hàng</a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
