<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <div class="footer__container--1">
        <div class="group__container group__container--1">
            <a routerLink="/home"><img src="assets/Media/logo2.webp"alt="Error"></a>
        </div>
        <div class="group__container group__container--2">
            <h4>KHÁM PHÁ</h4>
            <p><a routerLink="/career">Tuyển dụng</a><br>
                <a href="Feedback.html">Phản hồi</a><br>
                <a href="Introduction.html">Giới thiệu</a><br>
                <a href="News.html">Tin tức</a>
            </p>
        </div>

        <div class="group__container group__container--3">
            <h4>LIÊN HỆ</h4>
            <p>Số 50 Đường Trần Phú, Nha Trang, Khánh Hòa<br>
                +84 34 5898 989<br>
                <a href="">Google Map</a>
            </p>
        </div>
        <div class="group__container group__container--4">
            <h4>THEO DÕI CHÚNG TÔI</h4>
            <div class="socialbutton__container">
                <div><a href="#" class="fa fa-facebook"> </a></div>
                <div><a href="#" class="fa fa-twitter"> </a></div>
                <div><a href="#" class="fa fa-instagram"> </a></div>
            </div>
        </div>
        <div class="group__container group__container--5">
            <h4>ĐĂNG KÍ NHẬN TIN</h4>
            <form class="form--newsletter" action="">
                <input type="text" name="email" class="footer__input footer__input--email"
                    placeholder="Địa chỉ email">
                <input type="submit" value="OK" class="footer__input footer__input--submit">
            </form>
        </div>
    </div>
    <div class="footer__container--2">
        <p>© 2021 Vila de Vie All Rights Reserved. | <a href="Policy.html">Chính sách</a>
        </p>
    </div>
</body>
</html>