<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giới thiệu</title>
</head>

<body>
    <div class="main">
        <div class="main__title--2">
            <!-- chứa title và background -->
            <img src="assets/Media/whiteheaderbg.webp" alt="Error">
            <div class="title__container title__container--type2">
                <!-- chứa title -->
                <p class="title__item--2">Vila de Vie</p>
                <p class="title__item--4">Giới thiệu</p>
            </div>
        </div>
        <hr>
        <!-- group về chúng tôi-->
        <div class="content__container content__container--type1">
            
            <div class="content__title--type1 content__right--2">
                <h1>VỀ CHÚNG TÔI</h1>
                <p>Với sứ mệnh sinh ra để thỏa mãn mọi nhu cầu của du khách, chúng tôi đã cái tiến từng ngày để có được
                    Vila de Vie như hôm nay. </p>
                <p>Khách sạn Vila de Vie mang đến một lối sống Eco Chic là cảm nhận cuộc sống đặc biệt tinh tế và thời
                    thượng. Đó là một cuộc sống trọn vẹn với những khoảnh khắc tận hưởng từng cung bậc cảm xúc của cuộc
                    sống.</p>
                <p>Lấy cảm hứng từ thiên nhiên và hướng tới sự tự nhiên như trong hơi thở, Vila deVie được xây dựng để
                    lưu khách có thể cảm nhận ánh sáng từ nắng, gió và không khí biển tại Nha Trang. Chú trọng tới trải
                    nghiệm thượng lưu và an tĩnh, đây sẽ là một kỳ nghỉ đáng nhớ chúng tôi dành tặng bạn.</p>
            </div>
            <div class="content__left--2">
                <img src="assets/Media/logo2.webp" alt="Error">
            </div>
        </div>
        <!-- GROUP xem khoảnh khắc -->
        <div class="content__container content__container--type2">
            
            <div class="content__right--1">
                <img src="assets/Media/Homepage/hinh7.webp" alt="Error">
            </div>
            <div class="content__title--type1 content__left--1">
                <h1>KHOẢNH KHẮC</h1>
                <p>Cùng chúng tôi ngắm nhìn những khoảnh khắc xinh đẹp của Vila de Vie.</p>
                <div class="content__button">
                    <button class="button--type1" window.open="location.routerLink='Gallery.html'">KHÁM PHÁ</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
