<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt phòng</title>


</head>

<body>
    <div class="main">
        <div class="main__title--2">
            <!-- chứa title và background -->
            <img src="assets/Media/whiteheaderbg.webp" alt="Error">
            <div class="title__container title__container--type2">
                <p class="title__item--2">Vila de Vie</p>
                <p class="title__item--4">Đặt phòng</p>
            </div>
        </div>
        <div class="form--container">
            <form class="form--bookroom" action="OfferRoom.html" method="get">
                <div class="form__item">
                    <label class="form__label" for="checkin">Ngày đến*:</label>
                    <input class="form__input" type="date" name="checkin" id="checkin" required>
                </div>
                <div class="form__item">
                    <label class="form__label" for="checkout">Ngày đi*:</label>
                    <input class="form__input" type="date" name="checkout" id="checkout" required>
                </div>
                <div class="form__item">
                    <label class="form__label" for="room">Số phòng*:</label>
                    <input class="form__input" type="number" max="10" min="1" name="room" id="room" required>
                </div>
                <!-- <div class="form__item">
                    <label class="form__label" for="people">Số người*:</label>
                    <input class="form__input" type="number" max="10" min="1" name="people" id="people" required>
                </div> -->
                <div class="form__item">
                    <input class="button--type1" type="submit" value="GỬI YÊU CẦU">
                </div>
            </form>

        </div>
        <div id="result"></div>
    </div>

</body>

</html>