.main {
    color: var(--myColor1);
    margin: auto;
    font-size: 18px;
    font-family: 'Montserrat';
}

.main__content {
    width: 90%;
    margin: auto;
}

.main__content--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 60px;
}

.content__container--viewinfor {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.infor--left {
    font-weight: bold;
    flex-basis: 30%;
}
.detail{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.infor--right {
    flex-basis: 65%;
}


.detail:nth-child(odd) {
    background-color: var(--myColor4);
}
.button{
    text-align: center;
}

/* tin tuc - chinh sach */
.main__content--description {
    text-align: center;
    margin-top: 30px;
}

/* .content__container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 90%;
} */

.content__container--information {
    flex-basis: 40%;
}

.content__container--files,
.content__container--form {
    flex-basis: 50%;
}

.title__styles {
    font-weight: bold;
}

/* màu cho liên kết */
.news__file,
.file__item {
    color: rgba(5, 18, 202, 0.418);
}

/* Yêu cầu xem thông tin đặt phòng */
.form__viewinfo--item{
    text-align: center;
    padding: 30px;
}

@media screen and (max-width:768px) {
    .content__container--viewinfor{
        flex-direction: column;
    }
    
    .content__container {
        flex-direction: column;
    }

}