
/* chỉnh main */
.content__container{
    text-align: center;
    color: var(--myColor1);
    margin: 50px auto;
    width: 80%;
}

/* các content container trùng nhau  */

.content__container--type1,.content__container--type2{
    display: flex;
    justify-content: space-around;
}
/* content__container--type1 */
.content__left--1{
    flex-basis: 45%;
    text-align: left;
    margin: auto 0px;
}
.content__right--1{
    flex-basis: 40%;
}
.content__right--1 img{
    width:100%;
}
/* content__container--type2 */
.content__left--2{
    flex-basis: 40%;
}
.content__left--2 img{
    width:100%;
}
.content__right--2{
    flex-basis: 45%;
    text-align: left;
    margin: auto 0px;
}

/* content__container--type3 */
.content__container--type3{
    background-image: url(../Media/Homepage/hinh6.webp);
    color: var(--myColor2);
    padding-top: 15px;
    width: 100%;
}
.content__container--type3>div:last-child{
    position: relative;
    top: 5px;
}
/* content__container--type4 */
.content__container--type4 img{
    width: 90%;
}
/* content__container--type5 */
.content__container--type5{
    background-color: var(--myColor3);
    padding: 10px;
}
/* content__picture--container */
.content__picture--container{
    display: flex; 
    justify-content: space-evenly;  
}
.picture__group{
    flex-basis:28%;
}
.picture__group img{
    width: 90%;
}
.picture__content{
    background-color: var(--myColor3) ;
    padding:10px;
    margin-bottom: 10px;
}
.picture__content p{
    color: var(--myColor1);
    font-family: var(--myFont2);
    margin: 2px;
}
.picture__content h2{
    color: var(--myColor1);
    font-weight: bold;
    font-family: var(--myFont2);
    margin: 2px;
}
/* content_slideshow  */

.content__slideshow{
    width: 70%;
    position: relative;
    margin: auto;
    margin-bottom: 10px;
}
/* Hide the images by default */
.mySlides  {
    display: none;
  }
  
/* Next & previous buttons */
  .button--prev, .button--next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the button */
  .button--prev{
      left: 0;
  }
  .button--next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .button--prev:hover, .button--next:hover {
    background-color: rgba(0,0,0,0.8);
  }

/* Number */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }



/* chi tiết thông tin phòng */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: larger;
    text-align: center! important;
    margin-top: 20px;
}
.col{
    flex-basis: 25%;
    max-width: 25%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
} 
.detail__title{
    margin:0;
    font-weight: 100;
    font-size: x-large; 
    font-family: var(--myFont2); 
}
.detail__subtext{
    margin: 0;
    color:var(--myColor5);
    font-family: var(--myFont2); 
}
.content__button a{
    text-decoration:none;
}
.spacer-h-40 {
    height: 40px!important;
}

.main__navigation h2{
background-color: var(--myColor2);
}



@media screen and (max-width:768px) {
    .content__title--type1{
        text-align: center !important;
        width: 100%;
    }
    .content__slideshow{
        width: 90%;
    }
    .content__picture--container{
        flex-direction: column;
    }
    .content__container--type1,.content__picture--container{
        flex-direction: column;   
    }
    .content__container--type2{
        flex-direction: column-reverse;
    }
    .content__container--type1>div,.content__container--type2>div{
        margin:10px 0;
    }
    .row {
        display: flex;
        margin: 20px auto;
    }
    /* sửa chỗ group 3 bức hình */
    .picture__group{
        margin-bottom: 10px;
    }
    /*Sửa main navigation*/
    .main__navigation ul li a{
        margin: 10px;
    }

}