<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thể thao</title>

</head>

<body>
    <div class="header" w3-include-html="Header.html">
    </div>
    <div class="main">
        <div class="main__title--2">
            <!-- chứa title và background -->
            <img src="assets/Media/Sport/hinh3-sport.webp" alt="Error">
            <div class="title__container title__container--type2">
                <p class="title__item--2">Vila de Vie</p>
                <p class="title__item--3">Mang cả thiên đường đến bên bạn</p>
            </div>
        </div>
        <div class="content__container">
            <div class="content__title--type1">
                <h1>THỂ THAO - THIÊN ĐƯỜNG KHỎE ĐẸP </h1>
                <p>Được đánh giá là một trong những khách sạn sở hữu những nhà hàng độc đáo nhất Đông Nam Á, phục vụ cả
                    ngày, mở ra không gian ẩm thực tinh tế, ngắm cảnh đẹp khu trung tâm thành phố từ trên cao. Thực đơn
                    với biến tấu độc đáo giữa ẩm thực Âu và Á kếp hợp tạo nên sức hấp dẫn riêngassets
                </p>
            </div>
        </div>
        <!-- chứa navigation -->
        <div class="main__navigation">
            <ul>
                <li>
                    <a routerLink="/Service.html">TỔNG QUAN</a>
                </li>
                <li>|</li>
                <li>
                    <a routerLink="/Sport">THỂ THAO</a>
                </li>
                <li>|</li>
                <li>
                    <a routerLink="/Pool">HỔ BƠI</a>
                </li>
                <li>|</li>
                <li>
                    <a routerLink="/Spa">SPA</a>
                </li>
                <li>|</li>
                <li>
                    <a routerLink="/Restaurant">NHÀ HÀNG</a>
                </li>
            </ul>
        </div>
        <!-- group  sport 1 -->
        <div class="content__container content__container--type1">
            <div class="content__left--1 content__title--type1">
                <h1>FINESS</h1>
                <p>
                    Fitness là một bộ môn thể thao giúp con người hoàn thiện cơ thể, giúp họ sống khỏe và tốt hơn.
                    Ở đây chúng tôi cho quý khách những không gian tập lý tưởng đem đến một sức khỏe và thân hình toàn
                    diện nhất.

                    <br>Phục vụ 7:00-23:00 hàng tuần
                    <br>Gía tháng: 5tr/tháng
                </p>
            </div>
            <div class="content__right--1">
                <img src="assets/Media/Sport/hinh1-sport.webp" alt="Error">
            </div>
        </div>
        <!-- group sport 2 -->
        <div class="content__container content__container--type2">
            <div class="content__left--2">
                <img src="assets/Media/Sport/hinh2-sport.webp" alt="Error">
            </div>
            <div class="content__right--2 content__title--type1">
                <h1>YOGA</h1>
                <p>
                    Yoga là phương pháp tập luyện đòi hỏi sự kết hợp cao độ của tinh thần và thể xác tại cùng một thời
                    điểm.
                    Ở đây chúng tôi có đội ngũ huấn luyện viên chuyên nghiệp cùng nhau luyện tập
                    <br>Phục vụ 7:00-23:00
                    hàng tuần
                    <br>Gía tháng: 8tr/tháng
                </p>

            </div>
        </div>
        <!-- group sport 3 -->
        <div class="content__container content__container--type1">
            <div class="content__left--1 content__title--type1">
                <h1>GOLF</h1>
                <p>
                    Rèn luyện sức khỏe, tiếp xúc với bộ môn golf là một lựa chọn cực đáng. Một liệu pháp mát-xa toàn
                    thân được thiết kế để giảm căng thẳng, thúc đẩy tuần hoàn và thư giãn
                    hệ thần kinh.
                    <br> Phục vụ 7:00-23:00hàng tuần
                    <br> Gía tháng: 50tr/tháng
                </p>

            </div>
            <div class="content__right--1">
                <img src="assets/Media/Sport/hinh4-sport.webp" alt="Error">
            </div>
        </div>

        <!-- group thể thao chung -->
        <div class="content__container content__container--type2">
            <div class="content__left--2">
                <img src="assets/Media/Sport/hinh5-sport.webp" alt="Error">
            </div>
            <div class="content__right--2 content__title--type1">
                <h1>SÂN ĐA NĂNG</h1>
                <p>
                    Tập trung nhiều bộ môn với diện tích sân lớn bao quát nhiều trò hay phục vụ du khách vui chơi, vận
                    động

                    <br>Phục vụ 7:00-23:00
                    hàng tuần
                    <br>Gía sân: 1tr/2h
                </p>

            </div>
        </div>
    </div>

</body>

</html>