<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiệc cưới</title>
</head>

<body>
    <div class="main">
        <div class="main__title--2">
            <!-- chứa title và background -->
            <img src="assets/Media/Meeting&celebration/headerbg.webp" alt="Error">
            <div class="title__container title__container--type2">
                <p class="title__item--2">Vila de Vie</p>
                <p class="title__item--3">Một trong những điểm đến cho những sự kiện khó quên kể từ năm 2001.</p>
            </div>
        </div>
        <!-- group 1 phòng khách sạn -->
        <div class="content__container">
            <div class="content__title--type1">
                <h1>HỘI NGHỊ VÀ SỰ KIỆN</h1>
                <p>Với tư cách là người phụ trách các sự kiện quan trọng và các cuộc họp mặt đặc biệt kể từ năm 2001,
                    chúng tôi có cam kết và chuyên môn để vượt qua mọi mong đợi của bạn. Cùng nhau, chúng tôi sẽ đảm bảo
                    rằng cuộc họp hội đồng quản trị, lễ kỷ niệm sinh nhật hoặc đám cưới lãng mạn là một dịp đáng nhớ.
                </p>
            </div>
        </div>
        <!--group navigation-->
        <div class="main__navigation">
            <ul>
                <li><a routerLink="/meeting">Hội Họp</a> </li>
                <li><a routerLink="/wedding">Tiệc Cưới</a></li>
                <li><a routerLink="/anniversary">Lễ Kỉ Niệm</a> </li>
            </ul>
        </div>
        <!-- group 1- just say i do-->
        <div class="content__container content__container--type4">
            <div>
                <img src="assets/Media/Meeting&celebration/hinh4.webp" alt="Error">
            </div>
            <div class="content__title--type1">
                <h3 class="feature">#VILADEVIEWEDDING</h3>
                <h1>Just say “I do”</h1>
                <p>
                    Đám cưới của bạn sẽ trở thành một trải nghiệm như một cuốn truyện có thật tại Vila de Vie. Phía sau
                    hậu trường và trước mắt bạn, đội ngũ chuyên gia đám cưới giàu kinh nghiệm của chúng tôi sẽ biến giấc
                    mơ của bạn thành hiện thực.
                    Tất nhiên, chúng tôi xuất sắc trong các sự kiện trang trọng. Nhưng chúng tôi thích sáng tạo như bạn
                    muốn. Bạn đang tìm kiếm một buổi lễ dân sự? Một cái gì đó tối giản hơn? Hoặc, có lẽ, một tiệc cưới
                    Ấn Độ trong vài ngày - hoặc bất kỳ nghi lễ tôn giáo nào khác?
                    <br>
                    Chúng tôi ở đây để mang câu chuyện cổ tích của bạn vào cuộc sống.
                </p>
            </div>
        </div>
        <!-- group 3 đặc trưng 1 -->
        <div class="content__container content__container--type2">
            <div class="content__left--2">
                <img src="assets/Media/Meeting&celebration/hinh5.webp" alt="Error">
            </div>
            <div class="content__right--2 content__title--type1">
                <h3 class="feature">#VILADEVIEWEDDING</h3>
                <h1>TIỆC CƯỚI</h1>
                <p>Chương mới của cuộc đời bạn cùng nhau bắt đầu với việc lập kế hoạch tận tâm và thực hiện không chi
                    tiết - quá nhỏ của đội ngũ chuyên gia đám cưới giàu kinh nghiệm của Valie de Vie của chúng tôi.
                </p>
                <div class="spacer-h-40"></div>
                <div class="content__button">
                    <a href="assets/Media/Meeting&celebration/Wedding Brochure.pdf" target="_blank" class="button--type1">TẢI BROCHURE</a>
                </div>
            </div>
        </div>
        <!-- group 6 yêu cầu đề xuất -->
        <div class="content__container content__container--type3">
            <div class="content__title--type1">
                <h1>Hãy hỏi chúng tôi</h1>
                <p>Đội ngũ tổ chức sự kiện giàu kinh nghiệm của chúng tôi hỗ trợ bạn từ giai đoạn lập kế hoạch và tổ
                    chức cho đến khi thực hiện thành công. Chúng tôi đảm bảo mọi khía cạnh của sự kiện của bạn sẽ không
                    thể nào quên.</p>
            </div>
            <div class="content__button">
                <button class="button--type1" onclick="window.open('/meetncele-request)');" >YÊU CẦU ĐỀ XUẤT</button>            </div>
            </div>
        </div>
    </div>
</body>

</html>