<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xem phòng</title>
</head>

<body>
    <div class="main">
        <div class="main__title--2">
            <!-- chứa title và background -->
            <img src="assets/Media/Rooms/headerbg2.webp" alt="Error">
            <div class="title__container title__container--type2">
                <p class="title__item--2">Vila de Vie</p>
                <p class="title__item--1">{{selectedRoom.title}}</p>
            </div>
        </div>
        <!-- group 2 : chi tiết phòng -->
        <div class="content__container content__container--type1">
            <div class="content__left--1 content__title--type1">
                <h1>TỔNG QUAN</h1>
                <p>{{selectedRoom.details.overview}} </p>
                <div class="row">
                    <div class="col">
                        <div class="detail__title">{{selectedRoom.details.numberOfBed}}</div>
                        <div class="detail__subtext">Giường ngủ</div>
                    </div>
                    <div class="col">
                        <div class="detail__title">{{selectedRoom.details.bedType}}</div>
                        <div class="detail__subtext">Giường</div>
                    </div>
                    <div class="col">
                        <div class="detail__title">{{selectedRoom.details.footSquare}}</div>
                        <div class="detail__subtext">Foot square</div>
                    </div>
                </div>
                <div class="space"></div>
                <div class="row">
                    <div class="col">
                        <div class="detail__title">{{selectedRoom.details.numberOfBathroom}}</div>
                        <div class="detail__subtext">Phòng tắm</div>
                    </div>
                    <div class="col">
                        <div class="detail__title">{{selectedRoom.personNumber}}</div>
                        <div class="detail__subtext">Khách tối đa</div>
                    </div>
                    <div class="col">
                        <div class="detail__title">{{selectedRoom.details.size}}</div>
                        <div class="detail__subtext">Mét vuông</div>
                    </div>
                </div>
            </div>
            <div class="content__right--1">
                <img src={{selectedRoom.details.img1}} alt="Error">
            </div>
        </div>
        <!-- group 3 đặc trưng 1 -->
        <div class="content__container content__container--type2">
            <div class="content__left--2">
                <img src={{selectedRoom.details.img2}} alt="Error">
            </div>
            <div class="content__right--2 content__title--type1">
                <h3 class="feature">ĐẶC TRƯNG</h3>
                <h1>{{selectedRoom.details.feature}}</h1>
                <p>{{selectedRoom.details.featureDetail}}
                </p>
            </div>
        </div>
        <!-- group 1 : đặc trưng 2 -->
        <div class="content__container content__container--type4">
            <div class="content__image">
                <img src={{selectedRoom.details.img3}} alt="Error">
            </div>
            <div class="content__title--type1">
                <h3 class="feature">ĐẶC TRƯNG</h3>
                <h1>CẢM NHẬN KHÁCH HÀNG</h1>
                <p>“{{selectedRoom.details.feedback}} ”</p>
            </div>
        </div>

        <!-- group 4 : xem thêm -->
        <div class="content__container">
            <h2 class="feature">XEM THÊM</h2>
            <div class="content__picture--container">
                <div class="picture__group">
                    <img src="assets/Media/Rooms/hinh1.webp" alt="Error">
                    <div class="picture__content content__title--type1">
                        <h2>PHÒNG BÌNH THƯỜNG</h2>
                        <p>Hoàn hảo cho khách du lịch một mình, phòng ấm cúng này có giường đơn hoặc giường cỡ
                            queen. Tầm nhìn trải dài toàn bộ khung cảnh Nha Trang.</p>
                    </div>
                    <div class="content__button">
                        <button class="button--type1" onclick="location.href='Phongbinhthuong.html'">KHÁM
                            PHÁ</button>
                    </div>
                </div>
                <div class="picture__group">
                    <img src="assets/Media/Rooms/hinh2.webp" alt="Error">
                    <div class="picture__content content__title--type1">
                        <h2>PHÒNG CAO CẤP</h2>
                        <p>Các Phòng cao cấp của chúng tôi được thiết kế theo phong cách riêng và được trang trí với
                            tông màu trầm, nhẹ nhàng. </p>
                    </div>
                    <div class="content__button">
                        <button class="button--type1" onclick="location.href='Phongcaocap.html'">KHÁM PHÁ</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>