<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phản Hồi Khách Hàng</title>

</head>

<body>

    <div class="main">
        <div class="main__title--2">
            <img src="assets/Media/whiteheaderbg.webp" alt="Error">
            <div class="title__container title__container--type2">
                <p class="title__item--2">Vila de Vie</p>
                <p class="title__item--4">Phản hồi từ khách hàng</p>
                <p class="title__item--3">
                    Bạn muốn biết những khách khác nói gì về kỳ nghỉ của họ tại Vila De Vie?
                </p>
            </div>
        </div>
        <div class="main__feedback">
            <div class="item__feedback">
                <p>1.@hanhnguyen:
                    <br>
                    Mình vừa trải qua kỳ nghỉ 3 ngày 2 đêm tại Khách sạn Vila de Vie . Thực sự mình rất ấn tượng và cực
                    kỳ
                    happy vì đã gặp được những con người Đà Nẵng thân thiện và khách sạn King's finger hoàn toàn hoàn
                    hảo
                    theo ý muốn của mình. Từ Lễ Tân tới Quản lý, tất cả đều quá chuyên nghiệp, phòng ốc cực kỳ sạch sẽ
                    và
                    làm mình cùng bạn bè rất hài lòng. Nhất là bạn Kim TaeHyung, rất dễ thương và rất chuyên nghiệp. Nếu
                    có
                    quay lại, nhất định sẽ chọn King's finger làm nơi nghĩ dưỡng. Thân chào!
                </p>
            </div>
            <div class="item__feedback moreItem">
                <p> 2.@syndythu
                    <br>
                    Mình có chuyến tham quan ĐN 4 ngày 3 đêm tại đây Khách sạn ở vị trí khá tốt, thuận tiện cho đi lại.
                    Phòng gọn
                    gàng sạch sẽ yên tĩnh. Nhưng lưu ý khi nào khách đưa thẻ phòng hãy bắt đầu dọn phòng, mình vừa ăn
                    sáng
                    xong (vẫn
                    còn đang giữ thử phòng và còn để đồ đạc quan trọng trong phòng) định ăn xong sẽ xuống nghỉ ngơi vệ
                    sinh
                    thì thấy
                    nhân viên đang mở cửa dọn phòng nên mình không thể vào nghỉ ngơi được . Buffet sáng ít món, tạm vừa
                    miệng nên
                    cải thiện nhiều món hơn. Ngoài việc đó ra mọi thứ đều ok. Nhân viên khách sạn rất quan tâm khách và
                    nhiệt tình
                    đặc biệt là bé nhân viên lễ tân tên Duyên rất dễ thương hay hỏi thăm khách thường xuyên 👍
                </p>
            </div>
            <div class="item__feedback moreItem">
                3. @nhungsoiu
                <br>
                Tôi có một chuyến đi với bạn bè rất tuyệt vời tại đây. Và tuyệt vời hơn khi cùng bạn bè của mình nghỉ
                ngơi ở
                khách sạn này. Nếu có cơ hội thì tôi tiếp tục chọn nơi đây mỗi lần đến đà nẵng. I love you
            </div>
            <div class="div item__feedback moreItem">
                <p> 4.@maianh
                    <br>
                    Đã có chuyến công tác ở đây và nghỉ tại khách sạn vài ngày. Ở đây khá gần biển và trung tâm, có hồ
                    bơi
                    khá
                    đẹp
                    trên tầng thượng. Các bạn nhân viên lễ tân niềm nở và luôn hướng dẫn nhiệt tình khiến tôi rất thoải
                    mái
                    khi
                    ở
                    đây!
                </p>
            </div>
            <!-- chứa navigation -->
            <div class="main__pagination">
                <div class="pagination">
                    <a href="#">«</a>
                    <a class="active" href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">7</a>
                    <a href="#">8</a>
                    <a href="#">9</a>
                    <a href="#">»</a>
                </div>
                <div class="loadMore">
                    <a class="button--type2" href="#">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>


</body>

</html>