<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spa</title>

</head>

<body>

    <div class="main">
        <div class="main__title--2">
            <!-- chứa title và background -->
            <img src="assets/Media/Spa/hinh1-spa.webp" alt="Error">
            <div class="title__container title__container--type2">
                <p class="title__item--2">Vila de Vie</p>
                <p class="title__item--3">Mang cả thiên đường đến bên bạn</p>
            </div>

        </div>
        <div class="content__container">
            <div class="content__title--type1">
                <h1>SPA - THIÊN ĐƯỜNG NGHỈ DƯỠNG </h1>
                <p>Các liệu pháp chăm sóc sức khỏe và sắc đẹp bao gồm từ mát-xa cổ điển đến cắt sửa móng tay đến
                    chăm
                    sóc da mặt và các liệu pháp giải độc. Các gói đặc biệt có sẵn. Giờ mở cửa: 11:00 sáng đến 8:00
                    tối.Theo thời gian và theo cách vận dụng thông thường thì ngày này, khi nhắc đến spa, người ta
                    sẽ
                    hiểu ngay rằng đây chính là một lĩnh vực kinh doanh thẩm mỹ nhằm phục vụ nhu cầu làm đẹp cũng
                    như
                    chăm sóc sắc đẹp của mọi người.
                </p>
            </div>
        </div>
        <!-- chứa navigation -->
        <div class="main__navigation">
            <ul>
                <li>
                    <a routerLink="/service">TỔNG QUAN</a>
                </li>
                <li>|</li>
                <li>
                    <a routerLink="/sport">THỂ THAO</a>
                </li>
                <li>|</li>
                <li>
                    <a routerLink="/pool">HỔ BƠI</a>
                </li>
                <li>|</li>
                <li>
                    <a routerLink="/spa">SPA</a>
                </li>
                <li>|</li>
                <li>
                    <a routerLink="/restaurant">NHÀ HÀNG</a>
                </li>
            </ul>
        </div>
        <!-- group  spa 1 -->
        <div class="content__container content__container--type1">
            <div class="content__left--1 content__title--type1">
                <h1>GÓI VdV-01</h1>
                <p>Việc xoa bóp cơ bắp sâu và xuyên thấu này có tác dụng làm nới lỏng sự căng cứng và tắc nghẽn
                    chung của cơ thể.
                    <br>50 minutes CHF 230
                    <br>80 minutes CHF 280
                </p>
            </div>
            <div class="content__right--1">
                <img src="assets/Media/Spa/hinh4-spa.webp" alt="Error">
            </div>
        </div>
        <!-- group spa 2 -->
        <div class="content__container content__container--type2">
            <div class="content__left--2 ">
                <img src="assets/Media/Spa/hinh2-spa.webp" alt="Error">
            </div>
            <div class="content__right--2 content__title--type1">
                <h1>GÓI VdV - 02</h1>
                <p>Việc áp dụng áp lực lên các điểm cụ thể của bàn chân tác động vào các vùng khác nhau của cơ thểđể
                    giúp thúc đẩy chức năng tự nhiên của các cơ quan và hệ thống trong cơ thể. Có thể mặc quần áo
                    rộng rãi trong quá trình điều trị này.
                    <br>50 minutes CHF 230
                    <br>Từ thứ 2 đến thứ chú nhật hàng tuần.
                </p>

            </div>
        </div>
        <!-- group spa 3 -->
        <div class="content__container content__container--type1">
            <div class="content__left--1 content__title--type1">
                <h1>GÓI VdV-03</h1>
                <p>
                    Một liệu pháp mát-xa toàn thân được thiết kế để giảm căng thẳng, thúc đẩy tuần hoàn và thư giãn
                    hệ thần kinh.
                    <br>50 phút CHF 200
                    <br> 80 phút CHF 250
                </p>

            </div>
            <div class="content__right--1">
                <img src="assets/Media/Spa/hinh3-spa.webp" alt="Error">
            </div>
        </div>

        <!-- group spa -->
        <div class="content__container">
            <div class="content__title--type1">
                <h1>SPA</h1>
                <p>Các khu thư giãn nằm ở phía bên trái của khu vực hồ bơi. Các khu hoạt động nằm ở phía bên phải
                    của
                    khu vực hồ bơi. Dưới đây là một số mẹo bổ sung:</p>
            </div>
            <div class="content__picture--container">
                <div class="picture__group">
                    <img src="assets/Media/Service/hinh6.webp" alt="Error">
                    <div class="picture__content">
                        <p>Xông hơi thúc đẩy tuần hoàn và thư giãn các cơ.</p>
                    </div>

                </div>
                <div class="picture__group">
                    <img src="assets/Media/Service/hinh7.webp" alt="Error">
                    <div class="picture__content">
                        <p>Xông hơi bằng muối là tốt nhất để điều trị các lỗ chân lông bị tắc.</p>
                    </div>

                </div>

            </div>
        </div>

    </div>

</body>

</html>