<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hội nghị và sự kiện</title>
</head>

<body>
    <div class="main">
        <div class="main__title--2">
            <!-- chứa title và background -->
            <img src="assets/Media/Meeting&celebration/headerbg.webp" alt="">
            <div class="title__container title__container--type2">
                <p class="title__item--2">Vila de Vie</p>
                <p class="title__item--3">Một trong những điểm đến cho những sự kiện khó quên kể từ năm 2001.</p>
            </div>
        </div>
        <!-- group 1"  phòng khách sạn -->
        <div class="content__container">
            <div class="content__title--type1">
                <h1>HỘI NGHỊ VÀ SỰ KIỆN</h1>
                <p>Với tư cách là người phụ trách các sự kiện quan trọng và các cuộc họp mặt đặc biệt kể từ năm 2001,
                    chúng tôi có cam kết và chuyên môn để vượt qua mọi mong đợi của bạn. Cùng nhau, chúng tôi sẽ đảm bảo
                    rằng cuộc họp hội đồng quản trị, lễ kỷ niệm sinh nhật hoặc đám cưới lãng mạn là một dịp đáng nhớ.
                </p>
            </div>
        </div>
        <!--group navigation-->
        <div class="main__navigation">
            <ul>
                <li><a routerLink="/meeting">Hội Họp</a> </li>
                <li><a routerLink="/wedding">Tiệc Cưới</a></li>
                <li><a routerLink="/anniversary">Lễ Kỉ Niệm</a> </li>
            </ul>
        </div>
        <!-- group Hội nghị -->
        <div class="content__container content__container--type1">
            <div class="content__left--1 content__title--type1">
                <h1>HỘI NGHỊ</h1>
                <p> Thể hiện sự đánh giá cao đối với các đối tác kinh doanh và đồng nghiệp của bạn bằng cách tin
                    tưởng cuộc gặp hoặc sự khuyến khích của bạn đối với Khách sạn Vila de Vie. </p>
                    <button class="button--type2" onclick="location.href='/meeting'">KHÁM PHÁ</button>
                </div>
            <div class="content__right--1">
                <img src="assets/Media/Meeting&celebration/hinh2.webp" alt="Error">
            </div>
        </div>
        <!-- group Tiệc cưới -->
        <div class="content__container content__container--type2">
            <div class="content__left--2">
                <img src="assets/Media/Meeting&celebration/hinh1.webp" alt="Error">
            </div>
            <div class="content__right--2 content__title--type1">
                <h1>TIỆC CƯỚI</h1>
                <p> Đám cưới của bạn sẽ trở thành một trải nghiệm như một cuốn truyện có thật tại Vila de Vie.<br>Phía
                    sau hậu trường và trước mắt bạn, đội ngũ chuyên gia đám cưới giàu kinh nghiệm của chúng tôi sẽ biến
                    giấc mơ của bạn thành hiện thực. </p>
                    <button class="button--type2" onclick="location.href='/wedding'">KHÁM PHÁ</button>
                </div>
        </div>
        <!-- group Lễ kỷ niệm-->
        <div class="content__container content__container--type1">
            <div class="content__left--1 content__title--type1">
                <h1>LỄ KỶ NIỆM</h1>
                <p>Sinh nhật, ngày kỷ niệm, các sự kiện quan trọng trong đời — bất kể lý do gì để bạn ăn mừng
                    <br>Từ việc tìm kiếm không gian tốt nhất cho lễ kỷ niệm của bạn đến đề xuất các lựa chọn trang trí
                    và phục vụ phù hợp nhất, đội ngũ nhân viên sáng tạo và chu đáo của chúng tôi chú ý đến mọi yếu tố
                    lớn và nhỏ.
                </p>
                <button class="button--type2" onclick="location.href='/anniversary'">KHÁM PHÁ</button>
            </div>
            <div class="content__right--1">
                <img src="assets/Media/Meeting&celebration/hinh3.webp" alt="Error">
            </div>
        </div>
        <!-- group 7 :  offer kế hoạch -->
        <div class="content__container content__container--type5">
            <div class="content__title--type1">
                <h3 class="feature">LẬP KẾ HOẠCH SỰ KIỆN CỦA BẠN</h3>
                <h1>Cung cấp sự kiện của chúng tôi</h1>
            </div>
            <div class="content__button">
                <a href="assets/Media/Meeting&celebration/MeetnCele_Brochure.pdf" target="_blank"
                    class="button--type1">TẢI BROCHURE</a>
            </div>
        </div>
          <!-- group 6 yêu cầu đề xuất -->
          <div class="content__container content__container--type3">
            <div class="content__title--type1">
                <h1>Hãy hỏi chúng tôi</h1>
                <p>Đội ngũ tổ chức sự kiện giàu kinh nghiệm của chúng tôi hỗ trợ bạn từ giai đoạn lập kế hoạch và tổ
                    chức cho đến khi thực hiện thành công. Chúng tôi đảm bảo mọi khía cạnh của sự kiện của bạn sẽ không
                    thể nào quên.</p>
            </div>
            <div class="content__button">
                <button class="button--type1" onclick="window.open('/meetncele-request)');">YÊU CẦU ĐỀ XUẤT</button>
            </div>
        </div>
    </div>
</body>

</html>