<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hồ bơi</title>
    
</head>

<body>
    <div class="header" w3-include-html="Header.html">
    </div>
    <div class="main">
        <div class="main__title--2">
            <!-- chứa title và background -->
            <img src="assets/Media/Pools/hinh2-pool.webp" alt="Error">
            <div class="title__container title__container--type2">
                <p class="title__item--2">Vila de Vie</p>
                <p class="title__item--3">Mang cả thiên đường đến bên bạn</p>
            </div>

        </div>
        <div class="content__container">
            <div class="content__title--type1">
                <h1>HỒ BƠI - THIÊN ĐƯỜNG MÁT LẠNH </h1>
                <p>Được đánh giá là một trong những khách sạn sở hữu những nhà hàng độc đáo nhất Đông Nam Á, phục vụ
                    cả
                    ngày, mở ra không gian ẩm thực tinh tế, ngắm cảnh đẹp khu trung tâm thành phố từ trên cao. Thực
                    đơn
                    với biến tấu độc đáo giữa ẩm thực Âu và Á kếp hợp tạo nên sức hấp dẫn riêngassets
                </p>
            </div>
        </div>
        <!-- chứa navigation -->
        <div class="main__navigation">
            <ul>
                <li>
                    <a routerLink="/Service">TỔNG QUAN</a>
                </li>
                <li>|</li>
                <li>
                    <a routerLink="/Sport">THỂ THAO</a>
                </li>
                <li>|</li>
                <li>
                    <a routerLink="/Pool">HỔ BƠI</a>
                </li>
                <li>|</li>
                <li>
                    <a routerLink="/Spa">SPA</a>
                </li>
                <li>|</li>
                <li>
                    <a routerLink="/Restaurant">NHÀ HÀNG</a>
                </li>
            </ul>
        </div>
        <div class="content__container content__container--type1">
            <div class="content__left--2">
                <img src="assets/Media/Pools/hinh1-pool.webp" alt="Error">
            </div>
            <div class="content__right--2 content__title--type1">
                <h1>HỒ BƠI TRONG NHÀ</h1>
                <p>Đá lặn granit nổi tiếng của chúng tôi đang gọi! Giật mình (hoặc hoàn thành các vòng hàng ngày của
                    bạn) trong hồ bơi vô cực trong nhà dài 25m của chúng tôi. Nước rất đẹp, với độ sâu 3,8m.ghi điểm
                    du
                    khách bởi những trải nghiệm tuyệt vời khi trầm mình vào làn nước mát lạnh hay ngắm cảnh và nhâm
                    nhi
                    tách rượu nồng.
            </div>
        </div>
        <div class="content__container content__container--type2">
            <div class="content__left--1 content__title--type1">
                <h1>HỒ BƠI NGOÀI TRỜI</h1>
                <p>Hồ bơi được xây dựng mới hoàn toàn và được áp dụng các công nghệ xử lí nước một cách tốt nhất để
                    đảm
                    bảo sức khỏe cho mỗi người bơi. Giờ cao điểm ở đây là từ khoảng 4 giờ chiều đến tối, vì thế bạn
                    nào
                    có ý định đến đây tập luyện thì nên tránh khung giờ này ra nhé, và có thể đến buổi sáng sẽ vô
                    cùng
                    thích hợp.
                    Khách sạn phục vụ hàng ngày
                </p>
            </div>
            <div class="content__right--1">
                <img src="assets/Media/Pools/hinh3-pool.webp" alt="Error">
            </div>
        </div>
        <div class="content__container content__container--type4">
            <div class="content__image">
                <img src="assets/Media/Pools/hinh4-pool.webp" alt="Error">
            </div>
            <div class="content__title--type1">
                <h1>TẬN HƯỞNG CỰC MÁT LẠNH</h1>
                <p>Hồ bơi được xây dựng mới hoàn toàn và được áp dụng các công nghệ xử lí nước một cách tốt nhất để
                    đảm bảo sức khỏe cho mỗi người bơi. Giờ cao điểm ở đây là từ khoảng 4 giờ chiều đến tối, vì thế
                    bạn nào có ý định đến đây tập luyện thì nên tránh khung giờ này ra nhé, và có thể đến buổi sáng
                    sẽ vô cùng thích hợp.
                    Khách sạn phục vụ hàng ngày </p>
            </div>
        </div>
    </div>
    
</body>

</html>