<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Liên hệ</title>
    </head>

<body>
    <div class="main">
        <div class="main__title--2">
            <!-- chứa title và background -->
            <img src="assets/Media/whiteheaderbg.webp" alt="Error">
            <div class="title__container title__container--type2">
                <p class="title__item--2">Vila de Vie</p>
                <p class="title__item--4">Liên hệ</p>
            </div>
        </div>
        <hr>
        <div class="main__content">
            <div class="main__content--description">
                Liên hệ trực tiếp với Vila De Vie qua email, hotline hoặc điền thông tin vào form dưới đây để chúng tôi
                có thể hỗ trợ bạn sớm nhất
            </div>
            <div class="content__container">
                <div class="content__container--information">
                    <p class="title__styles">Thông tin liên hệ</p>
                    <div class="infor">
                        <p>Khách sạn Vila de Vie</p>
                        <p>Số 50 Đường Trần Phú,
                            Nha Trang, Khánh Hòa</p>
                        <p>Hotline: +84 34 5898 989</p>
                        <p>Fax: +84 34 5898 989</p>
                        <p>Email: CSKH@viladevie.com</p>
                    </div>
                </div>
                <div class="content__container--form">
                    <p class="title__styles">Gửi thông tin liên hệ</p>
                    <form class="form__contact" id="form__contactus">
                        <div class="form__row">
                            <label class="form__label" for="Fullname">Họ và tên*:</label>
                            <input class="form__input" type="text" name="Fullname" id="Fullname" required>
                        </div>
                        <div class="form__row">
                            <label class="form__label" for="Phonenumber">Số điện thoại:</label>
                            <input class="form__input" type="text" name="Phonenumber" id="Phonenumber">
                        </div>
                        <div class="form__row">
                            <label class="form__label" for="Email">Email*:</label>
                            <input class="form__input" type="text" name="Email" id="Email" required>
                        </div>
                        <div class="form__row">
                            <label class="form__label" for="Comment">Lời nhắn*:</label>
                            <textarea class="form__input" name="Comment" id="Comment" cols="30" rows="7" required></textarea>
                        </div>
                        <div class="form__checkrow">
                            <input type="checkbox" name="checkbox" id="checkbox" required>
                            Tôi đã đọc và đồng ý với các <a class="file__item" href="Policy.html" target="_blank">điều
                                khoản</a> và <a class="file__item" href="Policy.html" target="_blank">chính sách</a>
                        </div>
                        <div class="form__button">
                            <input class="button--type1" type="button" id = "btn" value="GỬI PHẢN HỒI">
                        </div>
                    </form>
                    <div class="form__label" id="result"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
