/* You can add global styles to this file, and also import other style files */
@import 'assets/CSS/style1.css';
@import 'assets/CSS/style2.css';
@import 'assets/CSS/style3.css';
@import 'assets/CSS/style4.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
.is-invalid{
    border: red 2px solid;
    font-weight: bold;
}
.text-validation{
    color: red;
    font-size: small;
    white-space: initial;
}
.d-none{
    display: none;
}