/* style dành cho các trang có form */
.form__label {
    font-family: var(--myFont2);
    color: var(--myColor1);
    font-weight: bold;
    margin-bottom: 10px;
}
.form__input {
    padding: 5px;
    border: 2px solid var(--myColor1);
    font-weight: bolder;
    color: var(--myColor1);
    font-size: small;
    font-family: var(--myFont2);
}
.form__row,.form__row--2{
    display: flex;
    justify-content: space-between;
}
.form__item{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    margin-bottom: 10px;
}
.form__button {
    text-align: center;
}

/*trang có phần rooms edit*/
.rooms__edit {
    width: 50%;
    display: flex;
    margin: auto;
    border: 1px solid var(--myColor1);
    margin-top: 10%;
}

.rooms__edit a {
    text-align: center;
    text-decoration: none;
    color: var(--myColor1);
}

.rooms__edit a:hover {
    font-weight: bold;
    cursor: pointer;
}

.edit__container {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.orderdate__container {
    padding: 10px 30px;
    border-left: 1px solid var(--myColor1);
    text-align: center;
}

.text-container {
    display: flex;
    justify-content: center;
}

.order-info-date {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.order-info-date:first-child {
    padding-right: 10px;
}

.order-info-date:last-child {
    border-left: 1px solid var(--myColor1);
    margin-left: 3px;
    padding-left: 10px;
}

#result{
    color: var(--myColor1);
    font-family: var(--myFont2);
    margin: 15px 0;
    text-align: center;
}

@media screen and (max-width:768px) {

    .form__row,.form__row--2{
        flex-direction: column;
    }
    .form__label {
        flex-basis: 30%;
    }

    .form__input {
        flex-basis: 40%;
    }

    .form__output {
        flex-basis: 40%;
    }

     /*rooms edit*/
     .rooms__edit {
        width: 100%;
    }

    .text-container {
        flex-direction: column;
    }

    .order-info-date:first-child {
        padding-right: 0;
    }

    .order-info-date:last-child {
        border-left: none;
        margin-left: 0;
    }

}