<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hội nghị</title>
</head>

<body>
    <div class="main">
        <div class="main__title--2">
            <!-- chứa title và background -->
            <img src="assets/Media/Meeting&celebration/headerbg.webp" alt="Error">
            <div class="title__container title__container--type2">
                <p class="title__item--2">Vila de Vie</p>
                <p class="title__item--3">Một trong những điểm đến cho những sự kiện khó quên kể từ năm 2001.</p>
            </div>
        </div>
        <!-- group 1  -->
        <div class="content__container">
            <div class="content__title--type1">
                <h1>HỘI NGHỊ VÀ SỰ KIỆN</h1>
                <p>Với tư cách là người phụ trách các sự kiện quan trọng và các cuộc họp mặt đặc biệt kể từ năm
                    2001, chúng tôi có cam kết và chuyên môn để vượt qua mọi mong đợi của bạn. Cùng nhau, chúng tôi
                    sẽ đảm bảo rằng cuộc họp hội đồng quản trị, lễ kỷ niệm sinh nhật hoặc đám cưới lãng mạn là một
                    dịp đáng nhớ.</p>
            </div>
        </div>
        <!--group navigation-->
        <div class="main__navigation">
            <ul>
                <li><a routerLink="/meeting">Hội Họp</a> </li>
                <li><a routerLink="/wedding">Tiệc Cưới</a></li>
                <li><a routerLink="/anniversary">Lễ Kỉ Niệm</a> </li>
            </ul>
        </div>
        <!-- group 1- just say i do-->
        <div class="content__container content__container--type4">
            <div>
                <img src="assets/Media/Meeting&celebration/hinh6.webp" alt="Error">
            </div>
            <div class="content__title--type1">
                <h3 class="feature">#VILADEVIEMEETING</h3>
                <h1>Your Focus is Our Focus</h1>
                <p>Thể hiện sự đánh giá cao đối với các đối tác kinh doanh và đồng nghiệp của bạn bằng cách tin
                    tưởng cuộc gặp hoặc sự khuyến khích của bạn đối với Khách sạn Vila de Vie. Hãy để lại thông tin
                    chi tiết cho chúng tôi để bạn có thể tập trung vào điều quan trọng: một sự kiện thành công, hiệu
                    quả.</p>
            </div>
        </div>
        <!-- group 3: đặc trưng 1 -->
        <div class="content__container content__container--type2">
            <div class="content__left--2">
                <img src="assets/Media/Meeting&celebration/hinh2.webp" alt="Error">
            </div>
            <div class="content__right--2 content__title--type1">
                <h3 class="feature">#VILADEVIEMEETING</h3>
                <h1>HỘI NGHỊ</h1>
                <p>Phòng họp tiện nghi sang trọng, không gian ấm cúng thiết bị hiện đại như; âm thanh, ánh sáng, hoa
                    tươi, bục phát biểu, hoa nhựa bục phát biểu, màn chiếu, bảng viết, bút dạ, flip chart, mic không
                    dây, mic có dây, phòng trải thảm, nhân viên trực kỹ thuật.
                    <br> Kê theo hình classroom từ 100 - 110 chỗ
                    <br> Kê theo hình rạp hát từ 200 - 210 chỗ
                    <br> Kê hình chũ U từ 70 - 90 chỗ
                    Giá cả linh hoạt đặc biệt với những đối tác sử dụng lâu dài thường xuyên.
                    <br>Các dịch vụ khác: Teabreak, máy chiếu, nước uống đóng chai, Baner, photo...
                </p>
            </div>
        </div>
        <!-- group 6 yêu cầu đề xuất -->
        <div class="content__container content__container--type3">
            <div class="content__title--type1">
                <h1>Hãy hỏi chúng tôi</h1>
                <p>Đội ngũ tổ chức sự kiện giàu kinh nghiệm của chúng tôi hỗ trợ bạn từ giai đoạn lập kế hoạch và tổ
                    chức cho đến khi thực hiện thành công. Chúng tôi đảm bảo mọi khía cạnh của sự kiện của bạn sẽ
                    không thể nào quên.
                </p>
            </div>
            <div class="content__button">
                <button class="button--type1" onclick="window.open('/meetncele-request)','_blank');" >YÊU CẦU ĐỀ XUẤT</button>            </div>
            </div>
        </div>
    </div>

</body>

</html>