.content__container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 90%;
    text-align: left;
}

.form__row {
    margin: 10px;
}
.row-input{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}