<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hội nghị</title>
</head>

<body>
    <div class="main">
        <div class="main__title--2">
            <!-- chứa title và background -->
            <img src="assets/Media/Meeting&celebration/headerbg.webp" alt="Error">
            <div class="title__container title__container--type2">
                <p class="title__item--2">Vila de Vie</p>
                <p class="title__item--3">Một trong những điểm đến cho những sự kiện khó quên kể từ năm 2001.</p>
            </div>
        </div>
            <!-- group 1  -->
            <div class="content__container">
                <div class="content__title--type1">
                    <h1>HỘI NGHỊ VÀ SỰ KIỆN</h1>
                    <p>Với tư cách là người phụ trách các sự kiện quan trọng và các cuộc họp mặt đặc biệt kể từ năm
                        2001, chúng tôi có cam kết và chuyên môn để vượt qua mọi mong đợi của bạn. Cùng nhau, chúng tôi
                        sẽ đảm bảo rằng cuộc họp hội đồng quản trị, lễ kỷ niệm sinh nhật hoặc đám cưới lãng mạn là một
                        dịp đáng nhớ.</p>
                </div>
            </div>
            <!--group navigation-->
            <div class="main__navigation">
                <ul>
                    <li> <a href="Meeting.html">HỘI NGHỊ</a> </li>
                    <li>|</li>
                    <li><a href="Wedding.html">TIỆC CƯỚI</a></li>
                    <li>|</li>
                    <li><a href="Anniversary.html">LỄ KỶ NIỆM</a></li>
                </ul>
            </div>
            <!-- group just say i do-->
            <div class="content__container content__container--type4" >
                <div>
                    <img src="assets/Media/Meeting&celebration/hinh7.webp" alt="Error">
                </div>
                <div class="content__title--type1">
                    <h3 class="feature">#VILADEVIECELEBRATIONS</h3>
                    <h1>Where generations meet</h1>
                    <p>Sinh nhật, ngày kỷ niệm, các sự kiện quan trọng trong đời — bất kể lý do gì để bạn ăn mừng, đội
                        ngũ chuyên gia tận tâm của chúng tôi sẽ tạo ra một sự kiện vượt quá mọi sự mong đợi. Từ việc tìm
                        kiếm không gian tốt nhất cho lễ kỷ niệm của bạn đến đề xuất các lựa chọn trang trí và phục vụ
                        phù hợp nhất, đội ngũ nhân viên sáng tạo và chu đáo của chúng tôi chú ý đến mọi yếu tố lớn và
                        nhỏ. Tất cả những gì bạn phải làm là xuất hiện - với bạn bè và những người thân yêu của bạn.</p>
                </div>
            </div>
            <!-- group yêu cầu đề xuất -->
            <div class="content__container content__container--type3">
                <div class="content__title--type1">
                    <h1>Hãy hỏi chúng tôi</h1>
                    <p>Đội ngũ tổ chức sự kiện giàu kinh nghiệm của chúng tôi hỗ trợ bạn từ giai đoạn lập kế hoạch và tổ
                        chức cho đến khi thực hiện thành công. Chúng tôi đảm bảo mọi khía cạnh của sự kiện của bạn sẽ
                        không thể nào quên.</p>
                </div>
                <div class="content__button">
                    <button class="button--type1" onclick="location.href='MeetnCele_Request.html'">YÊU CẦU ĐỀ XUẤT</button>
                </div>
            </div>
        </div>
</body>

</html>