<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yêu cầu hội nghị</title>
</head>

<body>
    <div class="main">
        <div class="main__title--2">
            <!-- chứa title và background -->
            <img src="assets/Media/whiteheaderbg.webp" alt="Error">
            <div class="title__container title__container--type2">
                <p class="title__item--2 title1">Hội nghị và Sự kiện</p>
                <p class="title__item--4 title2">Yêu cầu đề xuất</p>
            </div>
        </div>
        <form class="container_form form--request">
            <div class="form__row">
                <div class="form__item ">
                    <label class="form__label" for="LastName">Họ*:</label>
                    <input class="form__input" type="text" name="LastName" id="LastName">
                    <!-- <small class="text-danger" *ngIf="LastName.invalid && LastName.touched">Họ không được để trống</small> -->
                </div>
                <div class="form__item">
                    <label class="form__label" for="FirstName">Tên*:</label>
                    <input class="form__input" type="text" name="FirstName" id="FirstName" formControlName="FirstName">
                    <!-- <small class="text-danger" *ngIf="FirstName.invalid && FirstName.touched">Tên không được để trống</small> -->

                </div>
            </div>
            <div class="form__row">
                <div class="form__item">
                    <label class="form__label" for="Email">Email*:</label>
                    <input class="form__input" type="text" name="Email" id="Email" required> 
                    <!-- <input class="form__input" type="Email" [Email]="true" #Email = "ngModel" class="form-control" name="Email" id="Email" placeholder="abc@gmail.com" [(ngModel)]="s.Email" required [class.is_invalid]="Email.invalid && Email.touched">
                    <div *ngIf="email.errors && (email.invalid || email.touched)">
                        <small class="text-danger" *ngIf="Email.errors['required']">Bạn chưa nhập email</small>
                        <small class="text-danger" *ngIf="Email.errors['Email']">Bạn nhập email không hợp lệ</small>
                    </div> -->
                </div>
                <div class="form__item">
                    <label class="form__label" for="Phone">Số điện thoại*:</label>
                    <input class="form__input" type="text" name="Phone" id="Phone" required>
                </div>
            </div>
            <div class="form__item">
                <label class="form__label" for="Address">Địa chỉ*:</label>
                <input class="form__input" type="text" name="Address" id="Address" required>
            </div>
            <div class="form__row--2">
                <div class="form__item">
                    <label class="form__label" for="Event">Loại sự kiện*:</label>
                    <select class="form__input" name="Event" id="Event" required>
                        <option value="wedding">Tiệc cưới</option>
                        <option value="meeting">Hội nghị</option>
                        <option value="anniversary">Lễ kỉ niệm</option>
                    </select>
                </div>
                <div class="form__item">
                    <label class="form__label" for="Amount">Số lượng khách*:</label>
                    <input class="form__input" id="Amount" name="Amount" type="number" min="0" required>
                </div>
                <div class="form__item">
                    <label class="form__label" for="Request">Yêu cầu phòng*:</label>
                    <div>
                        <div class="radio--container">
                            <input type="radio" name="Request" id="RequestforRoom" value="yes" required>
                            <span class="form__label">Có</span>
                        </div>
                        <div class="radio--container">
                            <input type="radio" name="Request" id="Request" value="no">
                            <span class="form__label">Không</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form__row">
                <div class="form__item">
                    <label class="form__label" for="StartDate">Ngày bắt đầu*:</label>
                    <input class="form__input" type="date" name="StartDate" id="StartDate" required>
                </div>
                <div class="form__item">
                    <label class="form__label" for="EndDate">Ngày kết thúc*:</label>
                    <input class="form__input" type="date" name="EndDate" id="EndDate" required>
                </div>
            </div>
            <div class="form__item">
                <label class="form__label " for="Note">Lời nhắn:</label>
                <textarea class="form__input form__input--note" name="Note" id="Note" cols="100" rows="10"
                    placeholder="---"></textarea>
            </div>
            <div class="form__item--checkbox">
                <input type="checkbox" name="agree" id="agree" required>
                <label class="form__label form__label--checkbox" for="agree">Tôi đồng ý với các <a style="color: rgba(5, 18, 202, 0.418);" href="Policy.html" target="_blank">chính sách bảo mật</a> của
                    Vila de Vie</label>
            </div>
            <div class="form__button ">
                <input class="button--type1" id="btn" type="submit" value="GỬI YÊU CẦU">
            </div>
        </form>
        <div id="result"></div>
    </div>
</body>

</html>